@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

.navbar-title{
    font-family: 'Merriweather', serif;
    color: #DE1903;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}
